.panel {
  padding: 15px 20px;
  display: flex;
  gap: 20px;
}

.panel__filter {
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-image: url('../img/filter.svg');
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-color: #f4f2ff;
  border: 1px solid #c6c2de;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px 10px 5px 40px;
  font-size: 12px;
  line-height: 19px;
  color: #25213b;
  margin-right: 20px;
}
.panel__filter_block {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.panel__filter_block.block__filter_discount {
  align-items: center;
}

.filter__title {
  font-size: 10px;
  line-height: normal;
}

.panel__search {
  background: #f4f2ff;
  border: 1px solid #c6c2de;
  border-radius: 6px;
  flex-basis: 300px;
  background-image: url('../img/search.svg');
  background-position: left 10px center;
  background-repeat: no-repeat;
}

.panel__input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 10px 10px 10px 40px;
  border: none;
  border-radius: 6px;
}
input.panel__input:focus {
  outline: 2px solid #6d5bd0;
}

.filter__category,
.filter__inwork {
  background: #f4f2ff;
  border-radius: 3px;
}
.filter__discount {
  width: fit-content;
}

.panel__add-goods {
  align-self: flex-end;
  background: #6d5bd0;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  border: none;
  padding: 12px 16px;
  color: #ffffff;
  margin-left: auto;
}

.panel__add-goods:hover {
  background-color: #442ad1;
}

.panel__add-goods:focus {
  background-color: #442ad1;
}
