.sub-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  background: #f4f2ff;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: #6e6893;
}

.sub-panel__choice-pages {
  margin-right: 50px;
}

.sub-panel__pages {
  margin-right: 50px;
}

.sub-panel__arrows {
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  align-items: center;
  grid-gap: 10px;
}
.sub-panel__page {
  width: 40px;
  text-align: center;
}

.sub-panel__left {
  border: 0;
  background-color: transparent;
}

.sub-panel__right {
  border: 0;
  background-color: transparent;
  align-self: center;
  justify-self: end;
}

.sub-panel__left:disabled,
.sub-panel__right:disabled {
  cursor: initial;
}
